/* @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } } */



@media (max-width: 768px) {
  .mobile-header-nav {
    background-color: #222222;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* position: absolute;
    top: 100px;
    width: 100%; */
  }
  .mobile-header-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mobile-header-nav li a {
    color: white;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
 
  
  .hamburger-menu {
    display: inline-block;
    height: 100px;
    padding: 35px 25px;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-menu:hover {
    cursor: pointer;
  }
  .hamburger-menu .menu-item {
    background: black;
    display: block;
    height: 3px;
    margin: 0 0 10px;
    transition: all 0.3s ease-in-out;
    width: 40px;
  }
  .hamburger-menu.open .menu-item {
    margin: 0 0 5px;
  }
  .hamburger-menu.open .menu-item:first-child {
    transform: rotate(45deg);
    transform-origin: 10px;
  }
  .hamburger-menu.open .menu-item:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.open .menu-item:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 8px;
  }


  header {
    position: relative;
  }
  .nav_list.mobile-header-nav {
    height: auto;
    background-color: white;
   
  }

.mobile-nav-wrap {
  display: none;
}
.mobile-nav-wrap {
  width: 100%;
  height: auto;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: 100;
} 

.nav_list.mobile-header-nav {
  display: block;
  text-align: center; 
  padding-bottom: 50px;
}
.nav_list.mobile-header-nav li{
  margin: 20px 0px;
}

.nav_list.mobile-header-nav a {
  color: black;
  display: inline-block;
  padding: 0px;
  font-size: 2rem;

}
.nav_list.mobile-header-nav a:hover {
  backgrond-color: none;
  
}

.flexbox-container {
  display: block;
}
.flexbox-container .left-box {
  margin-bottom: 30px;
}
.flexbox-container .left-box,
.flexbox-container .right-box  {
  width: 100%;
  text-align: center;
  padding: 0px;
}

.list-of-boxes ul{
  display: block;
}
.list-of-boxes ul li  {
margin-bottom: 30px;
}

video {
  width: 300px;
  
}
        }